// Inventatory - Windows metadata for the background scanner service launcher.

#include <winver.h>

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Inventatory\0"
      VALUE "FileDescription", "Inventatory Background Service\0"
      VALUE "FileVersion", "0.1.0.0\0"
      VALUE "InternalName", "inventatory-background\0"
      VALUE "OriginalFilename", "inventatory-background.exe\0"
      VALUE "ProductName", "Inventatory Background Service\0"
      VALUE "ProductVersion", "0.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
