[Desktop Entry]
Type=Application
Name=Inventatory
Comment=Terminal inventory manager
Exec=inventatory
Icon=inventatory
Terminal=false
Categories=Utility;
StartupWMClass=inventatory
